
/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}

a:link {
  color: #217823;
  text-decoration: none;
}

a:hover {
  color: #43e646;
  text-decoration: underline;
}

a:active {
  color: #00cbff;
  text-decoration: none;
}

/* Header with a blue bottom border */
.header {
  border-bottom: 2px solid #2394bd;
  max-width: 20rem;
  line-height: 1.15;
}

.menu {
  margin-top: 0.8rem;
}

/* Container with class "body" having left margin */
.body {
  margin: auto;
  max-width: 40rem;
  padding: 3rem;
}

.body-text {
  margin-top: 2rem;
  max-width: 40rem;
}

/* Add more styles below as needed */
