
/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #2394bd;
  color: #333;
  line-height: 1.6;
}

a { 
  color:#217823
}

a:link {
  color: #217823;
  text-decoration: none;
}

a:visited {
  color: #217823;
  text-decoration: none;
}

a:hover {
  color: #43e646;
  text-decoration: underline;
}

a:active {
  color: #00cbff;
  text-decoration: none;
}

/* Header with a blue bottom border */
.header {
  border-bottom: 2px solid #2394bd;
  line-height: 1.15;
}

.header2 {
  margin-bottom: 1rem;
}

.header3 {
  margin-bottom: 0.5rem;
}

.cv {
  margin-bottom: 0.5rem;
}

.indent {
  margin-left: 0.3rem;
}

.menu {
  margin-top: 0.8rem;
}

/* Container with class "body" having left margin */
.body {
  margin: auto;
  max-width: 60rem;
  padding: 3.5rem;
  background-color: #f9f9f9;
}

.body-text {
  margin-top: 2rem;
}

/* Add more styles below as needed */
