---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCollection, render } from 'astro:content';

const allPosts = await getCollection('blog');
const posts = await Promise.all(
	allPosts
		.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
		.map(async (post) => {
			const { Content } = await render(post);
			return { ...post, Content };
		})
);
---

<BaseLayout title="Blogs">
	<div class="posts">
		{
			posts.map((post) => (
				<div class="post">
					<h1 class="post-title">
						<a href={`/blog/${post.id}/`}>
							{post.data.title}
						</a>
					</h1>

					<span class="post-date">{post.data.date.toDateString()}</span>

					<post.Content />
				</div>
			))
		}
	</div>
</BaseLayout>
