---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
---

<BaseLayout title="Blog">
	<style>
		.blog-list {
			list-style: none;
			padding: 0;
			margin: 2rem 0;
		}
		.blog-item {
			margin-bottom: 2rem;
			border-bottom: 1px solid #999;
			padding-bottom: 1rem;
		}
		.blog-item:last-child {
			border-bottom: none;
		}
		.blog-title-link {
			font-size: 1.5rem;
			font-weight: bold;
			color: #313131;
			text-decoration: none;
			display: block;
			margin-bottom: 0.25rem;
			line-height: 1.2;
		}
		.blog-title-link:hover {
			color: #23779b;
			text-decoration: underline;
		}
		.blog-list-date {
			font-size: 0.9rem;
			color: #9a9a9a;
			display: block;
		}
	</style>

	<ul class="blog-list">
		{
			posts.map((post) => (
				<li class="blog-item">
					<a href={`/blog/${post.id}/`} class="blog-title-link">
						{post.data.title}
					</a>
					<span class="blog-list-date">{post.data.date.toDateString()}</span>
				</li>
			))
		}
	</ul>
</BaseLayout>
