---
import BaseLayout from '../layouts/BaseLayout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<BaseLayout title="Home">
	<div class="post">
		<h1 class="post-title">Welcome</h1>
		<p class="lead">{SITE_DESCRIPTION}</p>
		<p>
			Welcome to my personal website. I am a philosopher at the University of Rochester.
		</p>
		<p>
			You can find my latest thoughts and essays in the <a href="/blog">Blogs</a> section.
		</p>
	</div>
</BaseLayout>
