---
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="/">{SITE_TITLE}</a>
      </h1>
      <p class="lead">{SITE_DESCRIPTION}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="/">Home</a>
      <a class="sidebar-nav-item" href="/blog">Blogs</a>
      <a class="sidebar-nav-item" href="/cv">Curriculum Vitae</a>
      <a class="sidebar-nav-item" href="/bookRecs">Book Recs</a>
      <span class="sidebar-nav-item"><a href="mailto:contact@dedobb.xyz">Contact</a></span>
    </nav>

    <p>&copy; {new Date().getFullYear()}. All rights reserved.</p>
  </div>
</div>
