---
import BaseHead from '../components/BaseHead.astro';
import Sidebar from '../components/Sidebar.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

interface Props {
	title?: string;
	description?: string;
}

const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
---

<!doctype html>
<html lang="en-us">
	<BaseHead title={title} description={description} />
	<body class="theme-base-de">
		<Sidebar />
		<div class="content container">
			<slot />
		</div>
	</body>
</html>
